.section{
    padding-top: 112px;
    padding-bottom: 112px;
   
}

%title{
    margin-bottom: 48px;
    @include styleText($fs-42,$fw-900,$color-black);
}
%form-floating{
    label{
        @include styleText($fs-16,$fw-300,$color-d0d1d1);
    }
}
%button-submit{
    
}
