$color-primary:#FF4400;
$color-black:black;
$color-717275:#717275;
$color-d0d1d1:#d0d1d1;
$color-white:white;
$color-d0d1d1:#d0d1d1;
$color-f0f8ff:#f0f8ff;
$color-6c757d:#6c757d;
$color-212529:#212529;
$color-0c63e4:#0c63e4;

$fs-12:12px;
$fs-16:16px;
$fs-18:18px;
$fs-24:24px;
$fs-64:64px;
$fs-42:42px;
$fs-32:32px;
$fs-20:20px;
$fs-36:36px;


$fw-700:700;
$fw-900:900;
$fw-300:300;
$fw-100:100;
$fw-normal:normal;

$pd-25:25px;
$pd-32:32px;
$pd-42:42px;
$pd-20:20px;
$pd-10:10px;

$m-24:24px;